*{
    font-family: "poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#080808;
    --second-bg-color:#101010;
    --text-color:white;
    --main-color:#ea580c;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
html{
    font-size: 100%;
}
.header
{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem,15%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.logo
{
    font-size: 3rem;
    color:var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover
{
    transform: scale(1.1);
}